<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:m="http://typo3.org/ns/Mindshape/MindshapeCookieConsent/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers">

  <f:layout name="Backend/Statistic"/>

  <f:section name="Content">

    <h2>{f:translate(key: 'module.statistic.categories')}</h2>

    <f:if condition="0 == {configuration.enableStatistic}">
      <p><strong style="color: red;">{f:translate(key: 'module.statistic.statistic_disabled')}</strong></p>
    </f:if>
    <f:if condition="{statisticCategories}">
      <f:if condition="{itemsPerPage} < {statisticCategories -> f:count()}">
        <f:then>
          <f:render section="Pagination" arguments="{configuration: configuration, statisticCategories: statisticCategories, date: date, pagination: pagination, paginator: paginator}"/>
        </f:then>
        <f:else>
          <f:render section="Table" arguments="{configuration: configuration, statisticCategories: statisticCategories}"/>
        </f:else>
      </f:if>
    </f:if>

  </f:section>


  <f:section name="Pagination">

    <f:render section="Table" arguments="{configuration: configuration, statisticCategories: paginator.paginatedItems}"/>
    <f:render partial="Utility/Pagination" arguments="{pagination: pagination, paginator: paginator, action: 'statisticCategories', date: date}"/>

  </f:section>


  <f:section name="Table">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>{f:translate(key: 'module.statistic.date')}</th>
          <th>{f:translate(key: 'module.statistic.visitors_total')}</th>
          <f:for each="{configuration.cookieCategories}" as="cookieCategory">
            <th>{cookieCategory.label}</th>
          </f:for>
        </tr>
      </thead>
      <tbody>
        <m:iterator.group field="dateBegin" fillSmallerGroups="1" objects="{statisticCategories}" as="statisticCategoriesByDate">
          <f:for each="{statisticCategoriesByDate}" as="groupedStatisticCategories" key="date">
            <tr>
              <td>{date -> f:format.date(format: 'Y-m-d')}</td>
              <td>{groupedStatisticCategories.0.counter}</td>
              <f:for each="{groupedStatisticCategories}" as="statisticCategory" key="cookieCategory">
                <f:if condition="{cookieCategory}">
                  <f:if condition="{statisticCategory}">
                    <f:then>
                      <td>{statisticCategory.counter} ({m:percentage(total: groupedStatisticCategories.0.counter,
                        fraction: statisticCategory.counter) -> f:format.number(decimals: 1, decimalSeparator: ',')} %)
                      </td>
                    </f:then>
                    <f:else>
                      <td>0 (0,0 %)</td>
                    </f:else>
                  </f:if>
                </f:if>
              </f:for>
            </tr>
          </f:for>
        </m:iterator.group>
      </tbody>
    </table>

  </f:section>

</html>
