<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:m="http://typo3.org/ns/Mindshape/MindshapeCookieConsent/ViewHelpers"
      xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers">

  <f:switch expression="{file.properties.mime_type}">
    <f:case value="video/youtube">
      <m:mediaConsent file="{file}" width="{dimensions.width}" height="{dimensions.height}" additionalConfig="{settings.media.additionalConfig}"/>
    </f:case>
    <f:case value="video/vimeo">
      <m:mediaConsent file="{file}" width="{dimensions.width}" height="{dimensions.height}" additionalConfig="{settings.media.additionalConfig}"/>
    </f:case>
    <f:defaultCase>
      <f:media file="{file}" class="video-embed-item" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" additionalConfig="{settings.media.additionalConfig}"/>
    </f:defaultCase>
  </f:switch>

</html>
