<html data-namespace-typo3-fluid="true" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cookie-consent-settings">
          <button class="cookie-consent-open btn btn--primary btn-primary">
            <f:if condition="{settings.buttonLabel}">
              <f:then>{settings.buttonLabel}</f:then>
              <f:else>{f:translate(key: 'label.edit_cookie_settings')}</f:else>
            </f:if>
          </button>
        </div>
      </div>
    </div>
  </div>

</html>
